@{
    ViewBag.Title = "Main page";
    
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="~/img/ourStore.jpg">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/node_modules/coreui/coreui-icons/css/free.min.css">
    <link rel="stylesheet" href="~/node_modules/coreui/coreui-icons/css/all.min.css">
    <link rel="stylesheet" href="~/node_modules/coreui/coreui-icons/css/brand.min.css">
    <link rel="stylesheet" href="~/node_modules/coreui/coreui-icons/css/flag.min.css">
    <link rel="stylesheet" href="~/node_modules/coreui/coreui/dist/css/coreui.min.css" crossorigin="anonymous">
    @RenderSection("Styles", false)
</head>
<body class="c-app">
<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link c-active"asp-controller="Dashboard" asp-action="Index">Dashboard<span class="badge badge-info">NEW</span></a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" asp-controller="Product" asp-action="ManageContent">
                <i class="c-sidebar-nav-icon cib-product-hunt"></i> Manage Content
            </a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" asp-controller="Roles" asp-action="Index">
                <i class="c-sidebar-nav-icon cib-product-hunt"></i> Manage Users
            </a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" asp-controller="Product" asp-action="Inventory">
                <i class="c-sidebar-nav-icon cil-speedometer"></i> Suppliers
            </a>
        </li>
        <li class="c-sidebar-nav-item">
            <a class="c-sidebar-nav-link" asp-controller="Product" asp-action="Inventory">
                <i class="c-sidebar-nav-icon cil-settings"></i> Basic settings
            </a>
        </li>
    </ul>
</div>
<div class="c-wrapper">
    <header class="c-header c-header-light c-header-fixed">
        <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">          
            <i class="c-sidebar-nav-icon cib-product-hunt"></i>
        </button>
        <ul class="c-header-nav d-md-down-none">
            <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Dashboard</a></li>
            <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Users</a></li>
            <li class="c-header-nav-item px-3"><a class="c-header-nav-link" href="#">Settings</a></li>
        </ul>        
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="c-header-nav ml-2">
            <li class="c-header-nav-item">
                <a asp-controller="Home" asp-action="Index" class="btn btn-success"> <i class="flaticon2-pie-chart"></i> Back to the site</a>
            </li>
        </ul>

    </header>
    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- Main content here -->
        </main>
    </div>
    <footer class="c-footer">
        <!-- Footer content here -->
    </footer>
</div>
<script src="~/node_modules/perfect-scrollbar/dist/perfect-scrollbar.js"></script>
<script src="~/node_modules/popperjs/core/dist/umd/popper.min.js"></script>
<script src="~/node_modules/coreui/coreui/dist/js/coreui.js"></script>
</body>
</html>