<h1 class="uk-text-center">@ViewBag.CheckoutCompleteMessage </h1>
<div class="uk-flex uk-flex-center">
    <img src="/img/flat_seo3-25-512.png" width="158" height="120" alt="">
</div>
<div class="uk-flex uk-flex-center">
    <a asp-controller="Home"  asp-action="Index" class="uk-button uk-button-default">Return home</a>
</div>