@model Product
<br>
<div class="uk-container">
    <hr class="uk-divider-icon">
    <h3 class="uk-text-center"> Profile Overwiew</h3>
    <a class="uk-icon-button  uk-margin-big-right" uk-icon="arrow-left"></a>
    <img src="@Url.Content(@Model.ImageUrl)" alt="">
</div>    