@model Product
<br>
<div class="uk-container">
    <hr class="uk-divider-icon">
    <h3 class="uk-text-center"> Product Details</h3>
    <img  width="200" height="400" src="@Url.Content(@Model.ImageUrl)" alt="">
    <button class="uk-button uk-button-default">Add to card</button>
</div>

